.index-header-titles {
    height: 100vh;
    color: white;
    background-image: url('../images/hero-bg.jpg');
    background-repeat : no-repeat;
    background-size: cover;
    background-position:center ;
    display: flexbox;
    align-content:center;
    opacity:0.8;
}