.index-header-titles {
    height: 50vh;
    color: white;
    background-image: url('./assets/images/hero-bg.jpg');
    background-repeat : no-repeat;
    background-size: 100vh, cover;
    background-position: center;
    display: flexbox;
    align-content:center;
    opacity:0.8;
}
