.index-header-titles {
    height: 80vh;
    color: white;
    background-image: url('../images/hero-bg.jpg');
    background-repeat : no-repeat;
    background-size: 160vh;
    background-position: center;
    display: flexbox;
    align-content:center;
    opacity:0.8;
}