/* Pas réussi à convertir la police en .woof le site Convertio n'y arrivait pas */

@font-face{
    font-family: NunitoSans ;
    src: url(../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

body{
    font-family: NunitoSans, sans-serif;
    font-weight: 400 ;
}

h1, h2, h3, h4, strong{
    font-weight: 600;
}

header, main, footer, img{
    margin: auto ;
}

/* On "annule" l'automatique du lien souligné */
a{
    text-decoration: none;
}

/* et on rajoute un style différent pour le footer & le main */
footer a{
    color: white;
}

main a{
    color: black;
}

.always-data{
    color: blue;
    text-decoration: underline;
}

textarea{
    height: 30vh;
}

@media (min-width: 768px) {
    .w-md-75 {
      width: 75%;
    }
  }

.icon-services{
    width: 10%;
    color: blue;
}